<div class="container accounts">
    <div class="row">
      <div class="col-12 pl-0 pr-0">
        <h1>Accounts</h1><button type="submit" class="btn btn-primary content-header" (click)="createAccount()">ADD NEW ACCOUNT</button>
      </div>
    </div>
    <div *ngIf="!(accounts).length" class="row defaultTable content">
        <div class="col-12 text-center">
            You don't have any accounts yet, <a (click)="createAccount()">click here to create one</a>
        </div>
    </div>
    <div *ngFor="let account of accounts" class="row defaultTable account">
      <div class="col-12">
        <div class="row align-items-center accountHeader">
          <div class="col-lg-10 col-7 pl-0 text-truncate" tooltip="Wallet details">
              <a [routerLink]="'/account/' + account.id">
                <span *ngIf="account.addressBookName" class="name" >{{ account.addressBookName }}</span> <span class="address" >{{ account.id }}</span>
              </a>
          </div>
          <div class="col-lg-2 col-5 pr-0 text-right options"><a  ngxClipboard [cbContent]="account.id" (cbOnSuccess)="copied()" class="icon copy" tooltip="Copy Address"></a><a href="#" class="icon edit" tooltip="Edit Name"></a><a href="#" class="icon send" tooltip="Send Tokens"></a></div>
        </div>
        <div class="row align-items-center rowTitles">
          <div class="col-md-4 pl-0 col-6">Token</div>
          <div class="col-lg-2 pr-0 col-md-4 col-6 text-right">Quantity</div>
          <div class="col-2 price text-right">Price</div>
          <div class="col-2 pricechange text-right">24H</div>
          <div class="col-lg-2 pr-0 col-md-4 totalvalue text-right">Total Value</div>
        </div>
        <div class="row align-items-center rowContent">
          <div class="col-md-4 pl-0 col-6 text-truncate"><span class="tokenIcon qn1"></span> QLC Chain Token 1</div>
          <div class="col-lg-2 pr-0 col-md-4 col-6 text-right">1,282,366.54 QN1</div>
          <div class="col-2 price text-right">$0.581</div>
          <div class="col-2 pricechange text-right negative_change">-2.421%</div>
          <div class="col-lg-2 pr-0 col-md-4 totalvalue text-right">$745,054.96</div>
        </div>
        <div class="row align-items-center rowContent">
          <div class="col-md-4 pl-0 col-6 text-truncate"><span class="tokenIcon qn2"></span> QLC Chain Token 2</div>
          <div class="col-lg-2 pr-0 col-md-4 col-6 text-right">265,366.40 QN2</div>
          <div class="col-2 price text-right">$0.0187</div>
          <div class="col-2 pricechange text-right positive_change">5.10%</div>
          <div class="col-lg-2 pr-0 col-md-4 totalvalue text-right">$745,054.96</div>
        </div>
        <div class="row align-items-center rowContent">
          <div class="col-md-4 pl-0 col-6 text-truncate"><span class="tokenIcon qn3"></span> QLC Chain Token 3</div>
          <div class="col-lg-2 pr-0 col-md-4 col-6 text-right">81,000.00 QN3</div>
          <div class="col-2 price text-right">$0.581</div>
          <div class="col-2 pricechange text-right negative_change">-0.42%</div>
          <div class="col-lg-2 pr-0 col-md-4 totalvalue text-right">$745,054.96</div>
        </div>
        <div class="row align-items-center rowContent">
          <div class="col-md-4 pl-0 col-6 text-truncate"><span class="tokenIcon qn4"></span> QLC Chain Token 4</div>
          <div class="col-lg-2 pr-0 col-md-4 col-6 text-right">10,000.00 QN4</div>
          <div class="col-2 price text-right">$0.581</div>
          <div class="col-2 pricechange text-right negative_change">-1.42%</div>
          <div class="col-lg-2 pr-0 col-md-4 totalvalue text-right">$745,054.96</div>
        </div>
        <div class="row align-items-center rowContent">
          <div class="col-md-4 pl-0 col-6 text-truncate"><span class="tokenIcon qn5"></span> QLC Chain Token 5</div>
          <div class="col-lg-2 pr-0 col-md-4 col-6 text-right">24.7365 QN5</div>
          <div class="col-2 price text-right">$0.581</div>
          <div class="col-2 pricechange text-right no_change">0.00%</div>
          <div class="col-lg-2 pr-0 col-md-4 totalvalue text-right">$745,054.96</div>
        </div>
        <div class="row align-items-center rowFooter accountFooter">
          <div class="col-12 pl-0 pr-0 text-right">$745,054.96</div>
        </div>
      </div>
    </div>
    
  </div>

