<a  (click)="openModal(unlockWallet)" *ngIf="walletService.isConfigured() && !walletService.isLedgerWallet() && walletService.isLocked()" class="nav-link wallet locked"><div><i></i><p>{{ 'WALLET.wallet_locked' | translate }}</p></div></a>
<a  (click)="lockWallet()" *ngIf="walletService.isConfigured() && !walletService.isLedgerWallet() && !walletService.isLocked()" class="nav-link wallet unlocked"><div><i></i><p>{{ 'WALLET.wallet_unlocked' | translate }}</p></div></a>
<a routerLink="/configure-wallet" *ngIf="!walletService.isConfigured()" class="nav-link wallet"><div><i></i><p>{{ 'WALLET.configure_wallet' | translate }}</p></div></a>

<ng-template #unlockWallet>
  <div class="modal-header">
    <h1 class="modal-title pull-left">{{ 'WALLET.unlock_wallet' | translate }}</h1>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="input-group">
        <input autofocus class="form-control" type="password" [(ngModel)]="unlockPassword" (keyup.enter)="unlockWallet()" placeholder="{{ 'WALLET.enter_wallet_password' | translate }}">
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    
    <button class="btn btn-primary" type="button" (click)="unlockWalletConfirm()">{{ 'WALLET.unlock' | translate }}</button>
  </div>
</ng-template>