<div class="container settings">
    <div class="row">
      <div class="col-lg-6 px-0 pr-lg-3">
        <div class="col-12 px-0" *ngIf="!walletService.isLedgerWallet()">
          <div class="col-12 px-0">
            <h1>Change Wallet Password</h1>
          </div>	
          <div class="col-12">
            <div class="row defaultTable content">
              <div class="col-12">
                <div class="row align-items-center rowContent">
                  <div class="col-12 px-0">
                    <div class="input-group">
                      <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="Enter your new password">
                      
                    </div>
                  </div>

                </div>
                <div class="row align-items-center rowContent">
                  <div class="col-12 px-0">
                    <div class="input-group">
                      <input type="password" class="form-control" [(ngModel)]="confirmPassword" placeholder="Enter your new password again">
                      
                    </div>
                  </div>
                </div>
                <div class="row align-items-center rowButtons">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-0 text-left text-truncate">
                    <button type="submit" (click)="changePassword()" class="btn btn-primary">Update password</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

     

        <div class="col-12 px-0">
          <div class="col-12 px-0 d-block">
            <div class="seperator"></div>
          </div>
          <div class="col-12 px-0">
            <h1>Export Wallet</h1>
          </div>	
          <div class="col-12">
            <div class="row defaultTable content">
              <div class="col-12">
                <div class="row align-items-center rowContent autoH">
                  <div class="col-12 px-0">
                    Use this export tool to simplify wallet transfer to other devices. 
                    Your data will be encrypted by your password, and then imported into NanoVault on your new device! 
                    <br><br>
                    The export does not contain your address book.
                  </div>

                </div>
                <div *ngIf="showQRExport" >
                    <div class="row align-items-center rowDefault">
                  
                        <div class="col-12 px-0 py">
      
                          <div class="qrcode"><img [src]="QRExportImg"></div>
                        </div>
      
      
                      </div>
      
                      <div class="row align-items-center rowContent autoH">
                        
                        <div class="col-12 px-0">
                          Scan the QR code on any device to load your QLC Chain wallet!
                          <br><br>
                          If you do not have a QR code scanner, you can also import your wallet by using the URL below.
                        </div>
      
      
                      </div>
                      <div class="row align-items-center rowContent">
                        <div class="col-12 px-0">
                          <div class="input-group">
                            <input type="text" class="form-control" id="" value="{{ QRExportUrl }}">
                            
                          </div>
                        </div>
                      </div>
                      <div class="row align-items-center rowContent">
                        <div class="col-12 px-0">
                          <a ngxClipboard [cbContent]="QRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Wallet export copied to clipboard!')" class="icon-text-link"><span class="icon copy"></span> Copy to clipboard</a>
                        </div>
                      </div>
                </div>
                <div class="row align-items-center rowButtons">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-0 pr-sm-2 text-left text-truncate">
                    <button type="submit" (click)="exportToFile()" class="btn btn-primary">Export as file</button>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-0 pl-sm-2 text-left text-truncate">
                    <button type="submit" (click)="exportWallet()" class="btn btn-primary">Export QR code</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 px-0">
          <div class="col-12 px-0 d-block">
            <div class="seperator"></div>
          </div>
          <div class="col-12 px-0">
            <h1>Import Address Book</h1>
          </div>	
          <div class="col-12">
            <div class="row defaultTable content nomin">
              <div class="col-12">
                <div class="row align-items-center rowContent autoH">
                  <div class="col-12 px-0">
                    Use this option to import your address book from a file.
                  </div>

                </div>
                <div class="row align-items-center rowButtons">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-0 pr-sm-2 text-left text-truncate">
                    <button type="submit" class="btn btn-primary">Upload file</button>
                    <input type="file" id="import-from-file" (change)="importFromFile($event.target.files)" multiple>
                    
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 px-0 pl-lg-3">
        <div class="col-12 px-0" *ngIf="!walletService.isLedgerWallet()">
          <div class="col-12 px-0 d-block d-lg-none">
            <div class="seperator"></div>
          </div>
          <div class="col-12 px-0">
            <h1>Backup Wallet</h1>
          </div>	
          <div class="col-12">
            <div class="row defaultTable content">
              <div class="col-12">
                <div class="row align-items-center rowContent autoHP"  *ngIf="wallet.locked">
                  <div class="col-12 px-0 pb-2">
                      To access backup options, unlock your wallet.
                  </div>
                </div>
                <div class="row align-items-center rowContent autoHP" *ngIf="!wallet.locked">
                  <div class="col-12 px-0 pb-2">
                    To backup your wallet mnemonic phrase, <br>
                    <a ngxClipboard [cbContent]="seedMnemonic()" (cbOnSuccess)="notifications.sendSuccess('Wallet mnemonic copied to clipboard!')">click here</a> to copy it to your clipboard.


                  </div>

                </div>
                <div class="row align-items-center rowContent autoHP" *ngIf="!wallet.locked">
                  <div class="col-12 px-0 py-2">
                    To backup your wallet seed,  <br>
                    <a ngxClipboard [cbContent]="wallet.seed" (cbOnSuccess)="notifications.sendSuccess('Wallet seed copied to clipboard!')">click here</a> to copy it to your clipboard.
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-12 px-0">
          <div class="col-12 px-0 d-block">
            <div class="seperator"></div>
          </div>
          <div class="col-12 px-0">
            <h1>Export Address Book</h1>
          </div>	
          <div class="col-12">
            <div class="row defaultTable content">
              <div class="col-12">
                <div class="row align-items-center rowContent autoH">
                  <div class="col-12 px-0">
                    Use this tool to simplify transferring your address book between devices. Use the options below to export your address book from a file or QR Code/URL. 
                    <br><br>
                    Your address book is not encrypted by your wallet password. 
                  </div>


                </div>
                <div *ngIf="addressBookShowQRExport">
                <div class="row align-items-center rowDefault">
                  
                  <div class="col-12 px-0 py">

                    <div class="qrcode"><img [src]="addressBookQRExportImg"></div>
                  </div>


                </div>

                <div class="row align-items-center rowContent autoH">
                  
                  <div class="col-12 px-0">
                    Scan the QR code on any device to load your QLC Chain wallet!
                    <br><br>
                    If you do not have a QR code scanner, you can also import your wallet by using the URL below.
                  </div>


                </div>
                <div class="row align-items-center rowContent">
                  <div class="col-12 px-0">
                    <div class="input-group">
                      <input type="text" class="form-control"  value="{{ addressBookQRExportUrl }}">
                      
                    </div>
                  </div>
                </div>
                <div class="row align-items-center rowContent">
                  <div class="col-12 px-0">
                    <a ngxClipboard [cbContent]="addressBookQRExportUrl" (cbOnSuccess)="notifications.sendSuccess('Address book export copied to clipboard!')" class="icon-text-link"><span class="icon copy"></span> Copy to clipboard</a>
                  </div>
                </div>
              </div>
                



                <div class="row align-items-center rowButtons">
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-0 pr-sm-2 text-left text-truncate">
                    <button type="submit" (click)="exportAddressBookToFile()" class="btn btn-primary">Export as file</button>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6 col-12 px-0 pl-sm-2 text-left text-truncate">
                    <button type="submit" (click)="exportAddressBook()" class="btn btn-primary">Export QR code</button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

