.settings {
	.content > div {
		
		@media (min-width: 992px) {
			min-height: 190px;
			
		}
	}
	.content.nomin > div {
		min-height: auto;	
	}
	.autoH {
		padding-bottom: 20px;
		padding-top: 0;
	}
	.py {
		padding-bottom: 20px;
		padding-top: 20px;	
	}
	.qrcode {
		height: 250px;
		width: 250px;
	}
	#import-from-file {
		overflow: hidden;
		position: absolute;
		top: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
		left: 0;
		-webkit-appearance: none;
		opacity: 0;
		cursor: pointer;
	}
	
	.rowContent:hover {
		background: #fff;
	}
}