<div class="container" *ngIf="activePanel == 'send'">
	<div class="row">
		<div class="col-12 px-0">
			<h1>{{ 'SEND_TOKENS_TAB.send_tokens_title' | translate }}</h1>
		</div>
	</div>
	<div *ngIf="!accounts.length" class="row defaultTable content">
		<div class="col-12 text-center">
			{{ 'NO_WALLET_CONFIGURED' | translate
			}}<a routerLink="/configure-wallet">{{ 'NO_WALLET_CONFIGURED_CLICK' | translate }}</a>
		</div>
	</div>
	<div *ngIf="accounts.length" class="row defaultTable sendTokens">
		<div class="col-12">
			<div class="row align-items-center rowContent autoHP pb-3">
				<div class="col-md-2 px-0 pb-3 pb-md-0 text-truncate dataName">
					{{ 'SEND_TOKENS_TAB.from_account' | translate }}
				</div>
				<div class="col-md-10 px-0 text-left text-truncate">
					<div class="form-group">
						<select class="custom-select" [(ngModel)]="fromAccountID" (change)="selectAccount()">
							<option *ngFor="let account of accounts" [value]="account.id"
								>{{ account.addressBookName ? account.addressBookName + ' - ' : '' }} {{ account.id }}</option
							>
						</select>
					</div>
				</div>
			</div>
			<div class="row align-items-center rowContent autoHP">
				<div class="col-md-2 px-0 pb-3 pb-md-0 text-truncate dataName">
					{{ 'SEND_TOKENS_TAB.to_account' | translate }}
				</div>
				<div class="col-md-10 px-0 text-left text-truncate py-3">
					<div class="form-group">
						<select
							class="custom-select contacts"
							[(ngModel)]="bookContact"
							(change)="selectFromBook()"
							[ngClass]="{ success: toAccountStatus === 2, dangerRight: toAccountStatus === 0 }"
						>
							<option *ngFor="let book of (addressBookResults$ | async)" [value]="book.account"
								>{{ book.name }} {{ book.account }}</option
							>
						</select>
						<input
							type="text"
							class="form-control toaccount"
							placeholder="{{ 'SEND_TOKENS_TAB.to_account_placeholder' | translate }}"
							onfocus="this.placeholder = ''"
							(blur)="validateDestination()"
							[(ngModel)]="toAccountID"
							[ngClass]="{ success: toAccountStatus === 2, dangerLeft: toAccountStatus === 0 }"
						/>
					</div>
				</div>
			</div>

			<div class="row rowContent autoHP py-3">
				<div class="col-md-2 px-0 text-truncate dataName pb-3 pb-md-0">{{ 'SEND_TOKENS_TAB.amount' | translate }}</div>
				<div class="col-md-10 px-0">
					<div class="row align-items-center">
						<div class="col-md-6 pb-3 pb-md-0">
							<div class="input-group">
								<div class="input-group-prepend">
									<div class="input-group-text">
										{{ selectedToken.tokenInfo ? selectedToken.tokenInfo.tokenName : '' }}
									</div>
								</div>
								<input
									type="text"
									class="form-control inlineForm"
									[(ngModel)]="amount"
									placeholder="{{ 'SEND_TOKENS_TAB.amount_placeholder' | translate }}"
									onfocus="this.placeholder = ''"
									style="height: 41px;"
								/>
								<div class="input-group-append">
									<a (click)="setMaxAmount()">
										<div class="input-group-text maxLink">{{ 'SEND_TOKENS_TAB.max' | translate }}</div>
									</a>
								</div>
							</div>
						</div>
						<div class="col-md-6 d-block d-md-none pb-3 pb-md-0">
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text">USD/$</div></div>
								<input
									type="text"
									class="form-control inlineForm2"
									[(ngModel)]="amountFiat"
									placeholder="{{ 'SEND_TOKENS_TAB.amount_placeholder' | translate }}"
									onfocus="this.placeholder = ''"
								/>
							</div>
						</div>
						<div class="col-md-6 pt-2 pt-md-0">
							<div class="row align-items-center">
								<div class="col-md-2 dataName pb-3 pb-md-0">{{ 'TOKEN' | translate }}</div>
								<div class="col-md-10">
									<div class="form-group">
										<select class="custom-select" [(ngModel)]="selectedTokenSymbol" (change)="selectToken()">
											<option *ngFor="let token of accountTokens" [value]="token.tokenInfo.tokenSymbol">{{
												token.tokenInfo.tokenSymbol
											}}</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row align-items-center pt-3 pt-md-2">
						<div class="col-md-6 d-none d-md-block">
							<div class="input-group">
								<div class="input-group-prepend"><div class="input-group-text">USD/$</div></div>
								<input
									type="text"
									class="form-control inlineForm2"
									placeholder="{{ 'SEND_TOKENS_TAB.amount_placeholder' | translate }}"
								/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="row align-items-center">
								<div class="col-md-2 dataName pb-3 pb-md-0">{{ 'BALANCE' | translate }}</div>
								<div class="col-md-10 ">
									<div class="row">
										<div class="col-6 pr-0 balance">
											{{ selectedToken.balance | qlc: settings.settings.displayDenomination }}
										</div>
										<div class="col-6 pl-0 text-right fiat">(-)</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center rowAmount">
				<div class="col-md-2 px-0 text-truncate dataName"></div>
				<div class="col-lg-2 col-md-4 col-sm-6 col-12 px-0 text-left text-truncate">
					<button type="submit" class="btn btn-primary" (click)="sendTransaction()">
						{{ 'SEND_TOKENS_TAB.send' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container" *ngIf="activePanel == 'confirm'">
	<div class="row">
		<div class="col-12 px-0">
			<h1>{{ 'SEND_TOKENS_TAB.confirm_transaction' | translate }}</h1>
		</div>
	</div>
	<div class="row defaultTable content confirmTransaction">
		<div class="col-12">
			<div class="row align-items-center fromText">
				<div class="col-12 text-label">{{ 'SEND_TOKENS_TAB.you_are_about_to_send' | translate }}</div>
			</div>
			<div class="row align-items-center ">
				<div class="col-12 sum">
					<span>{{ rawAmount | qlc: 'mqlc' }} {{ selectedTokenSymbol }}</span>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col-12 ">
					<span class="fiatsum">{{ amountFiat | fiat: settings.settings.displayCurrency }}</span>
					<span class="fiatrate"
						>@ {{ price.price.lastPrice | fiat: settings.settings.displayCurrency }} / {{ selectedTokenSymbol }}</span
					>
				</div>
			</div>
			<div class="row transfer">
				<div class="col-lg-6 text-center pt-4 pb-4">
					<div class="text-label pb-0">{{ 'SEND_TOKENS_TAB.from_account' | translate }}</div>
					<div class="pl-5 pr-5 text-truncate pt-1 pb-1">
						<a [routerLink]="'/account/' + fromAccountID" class="name"
							><span *ngIf="fromAddressBook">{{ fromAddressBook }}</span
							><span *ngIf="!fromAddressBook">{{ fromAccountID }}</span></a
						>
					</div>
					<div class="pl-5 pr-5 pb-4">
						<a [routerLink]="'/account/' + fromAccountID" class="address">{{ fromAccountID }}</a>
					</div>
					<div class="pt-2 text-bold negative_change">-{{ rawAmount | qlc: 'mqlc' }} {{ selectedTokenSymbol }}</div>
					<div class="text-label pb-3">{{ 'SEND_TOKENS_TAB.amount_to_send' | translate }}</div>
				</div>
				<div class="col-lg-6 text-center pt-4 pb-4">
					<div class="text-label pb-0">{{ 'SEND_TOKENS_TAB.to_account' | translate }}</div>
					<div class="pl-5 pr-5 text-truncate pt-1 pb-1">
						<a [routerLink]="'/account/' + toAccountID" class="name"
							><span *ngIf="toAddressBook">{{ toAddressBook }}</span
							><span *ngIf="!toAddressBook">{{ toAccountID }}</span></a
						>
					</div>
					<div class="pl-5 pr-5 pb-4">
						<a [routerLink]="'/account/' + toAccountID" class="address">{{ toAccountID }}</a>
					</div>
					<div class="pt-2 text-bold positive_change">+{{ rawAmount | qlc: 'mqlc' }} {{ selectedTokenSymbol }}</div>
					<div class="text-label pb-3">{{ 'SEND_TOKENS_TAB.amount_to_send' | translate }}</div>
				</div>
			</div>

			<div class="row align-items-center justify-content-center rowDefault rowButtons">
				<div class="col-lg-2 col-md-4 col-sm-5 col-12 px-0 pr-sm-2 text-left text-truncate mobile-break">
					<button type="submit" class="btn btn-danger" (click)="activePanel = 'send'">
						{{ 'CANCEL' | translate }}
					</button>
				</div>
				<div class="col-lg-2 col-md-4 col-sm-5 col-12 px-0 px-sm-2 text-left text-truncate mobile-break">
					<button type="submit" class="btn btn-secondary" *ngIf="!confirmingTransaction" (click)="confirmTransaction()">
						{{ 'SEND_TOKENS_TAB.confirm_send' | translate }}
					</button>
					<button type="submit" class="btn btn-secondary" *ngIf="confirmingTransaction">
						{{ 'LOADING' | translate }}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
