<div class="container" *ngIf="activePanel == 'send'">
  <div class="row">
    <div class="col-12 px-0">
      <h1>Send Tokens</h1>
    </div>
  </div>
  <div *ngIf="!(accounts).length" class="row defaultTable content">
    <div class="col-12 text-center">
      You don't have a wallet configured, <a routerLink="/configure-wallet">click here to create or import one</a>
    </div>
  </div>
  <div *ngIf="(accounts).length" class="row defaultTable sendTokens">
    <div class="col-12">
      <div class="row align-items-center rowContent autoHP pb-3">
        <div class="col-md-2 px-0 pb-3 pb-md-0 text-truncate dataName">From account</div>
        <div class="col-md-10 px-0 text-left text-truncate">
          <div class="form-group">
            <select class="custom-select" [(ngModel)]="fromAccountID" (change)="selectAccount()">
              <option *ngFor="let account of accounts" [value]="account.id">{{ account.addressBookName ? account.addressBookName + ' - ' : '' }} {{ account.id }}</option>
            </select>
          </div></div>
        </div>
        <div class="row align-items-center rowContent autoHP">
          <div class="col-md-2 px-0 pb-3 pb-md-0 text-truncate dataName">To account</div>
          <div class="col-md-10 px-0 text-left text-truncate py-3">
            <div class="form-group">
              <select class="custom-select contacts" [(ngModel)]="bookContact" (change)="selectFromBook()" [ngClass]="{ 'success': toAccountStatus === 2, 'dangerRight': toAccountStatus === 0 }">
                <option *ngFor="let book of addressBookResults$ | async" [value]="book.account">{{book.name}} {{book.account}}</option>
              </select>
              <input type="text" class="form-control toaccount" placeholder="To account" onfocus="this.placeholder = ''" (blur)="validateDestination();" [(ngModel)]="toAccountID" [ngClass]="{ 'success': toAccountStatus === 2, 'dangerLeft': toAccountStatus === 0 }">
            </div>
          </div>
        </div>
        
        <div class="row rowContent autoHP py-3">
          <div class="col-md-2 px-0 text-truncate dataName pb-3 pb-md-0">Amount</div>
          <div class="col-md-10 px-0">
            <div class="row align-items-center">
              <div class="col-md-6 pb-3 pb-md-0">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">{{ selectedToken.symbol }}</div>
                  </div>
                  <input type="text" class="form-control inlineForm" [(ngModel)]="amount" placeholder="Amount to send" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Amount to send'">
                  <div class="input-group-append">
                    <a (click)="setMaxAmount()" >
                      <div class="input-group-text maxLink">Max</div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 d-block d-md-none pb-3 pb-md-0">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">USD/$</div>
                  </div>
                  <input type="text" class="form-control inlineForm2" placeholder="Amount to send" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Amount to send'">
                  
                </div>
              </div>
              <div class="col-md-6 pt-2 pt-md-0">
                <div class="row align-items-center">
                  <div class="col-md-2 dataName pb-3 pb-md-0">TOKEN</div>
                  <div class="col-md-10">
                    <div class="form-group">
                      <select class="custom-select" [(ngModel)]="selectedTokenSymbol" (change)="selectToken()">
                        <option *ngFor="let token of accountTokens" [value]="token.symbol">{{ token.symbol }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
            <div class="row align-items-center pt-3 pt-md-2">
              <div class="col-md-6 d-none d-md-block">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">USD/$</div>
                  </div>
                  <input type="text" class="form-control inlineForm2" placeholder="Amount to send">
                </div>
              </div>
              <div class="col-md-6">
                <div class="row align-items-center">
                  <div class="col-md-2 dataName pb-3 pb-md-0">BALANCE</div>
                  <div class="col-md-10 ">
                    <div class="row">
                      <div class="col-6 pr-0 balance">{{ selectedToken.balance | qlc: settings.settings.displayDenomination }}</div>
                      <div class="col-6 pl-0 text-right fiat">(-)</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row align-items-center rowAmount">
          <div class="col-md-2 px-0 text-truncate dataName"></div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-12 px-0 text-left text-truncate">
            <button type="submit" class="btn btn-primary" (click)="sendTransaction()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container" *ngIf="activePanel == 'confirm'">
    
    <div class="row">
      <div class="col-12 px-0">
        <h1>Confirm Transaction</h1>
      </div>
    </div>
    <div class="row defaultTable content confirmTransaction">
      <div class="col-12">
        <div class="row align-items-center fromText">
          <div class="col-12 text-label">
            You are about to send
          </div>
        </div>
        <div class="row align-items-center ">
          <div class="col-12 sum">
            <span>{{ rawAmount | qlc: 'mqlc' }} {{ selectedTokenSymbol }}</span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 ">
            <span class="fiatsum">{{ amountFiat | fiat: settings.settings.displayCurrency }}</span> <span class="fiatrate">@ {{ price.price.lastPrice | fiat: settings.settings.displayCurrency }} / {{ selectedTokenSymbol }}</span>
          </div>
        </div>
        <div class="row transfer">
          <div class="col-lg-6 text-center pt-4 pb-4">
            <div class="text-label pb-0">From account</div>
            <div class="pl-5 pr-5 text-truncate pt-1 pb-1"><a [routerLink]="'/account/' + fromAccountID" class="name"><span *ngIf="fromAddressBook">{{ fromAddressBook }}</span><span *ngIf="!fromAddressBook">{{ fromAccountID }}</span></a></div>
            <div class="pl-5 pr-5 pb-4"><a [routerLink]="'/account/' + fromAccountID" class="address">{{ fromAccountID }}</a></div>
            <div class="pt-2 text-bold negative_change">-{{ rawAmount | qlc: 'mqlc' }} {{ selectedTokenSymbol }}</div>
            <div class="text-label pb-3">Amount to send</div>
          </div>
          <div class="col-lg-6 text-center pt-4 pb-4">
            <div class="text-label pb-0">To account</div>
            <div class="pl-5 pr-5 text-truncate pt-1 pb-1"><a [routerLink]="'/account/' + toAccountID" class="name"><span *ngIf="toAddressBook">{{ toAddressBook }}</span><span *ngIf="!toAddressBook">{{ toAccountID }}</span></a></div>
            <div class="pl-5 pr-5 pb-4"><a [routerLink]="'/account/' + toAccountID" class="address">{{ toAccountID }}</a></div>
            <div class="pt-2 text-bold positive_change">+{{ rawAmount | qlc: 'mqlc' }} {{ selectedTokenSymbol }}</div>
            <div class="text-label pb-3">Amount to send</div>
          </div>
        </div>
        
        <div class="row align-items-center justify-content-center rowDefault rowButtons">
          <div class="col-lg-2 col-md-4 col-sm-5 col-12 px-0 pr-sm-2 text-left text-truncate mobile-break">
            <button type="submit" class="btn btn-danger" (click)="activePanel = 'send'">Cancel</button>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-5 col-12 px-0 px-sm-2 text-left text-truncate mobile-break">
            <button type="submit" class="btn btn-secondary" *ngIf="!confirmingTransaction" (click)="confirmTransaction()">Confirm & Send</button>
            <button type="submit" class="btn btn-secondary" *ngIf="confirmingTransaction">Loading</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  