<div class="container" *ngIf="activePanel == 0">
  <div class="row">
    <div class="col-12 px-0">
      <h1>{{ 'CONFIGURE_WALLET.configure_wallet_title' | translate }}</h1>
    </div>
  </div>
  
  <div class="row defaultTable content" *ngIf="wallet.seed && (activePanel != 3 && activePanel != 4 && activePanel != 5)">
    <div class="col-12">
      
      <div class="row align-items-center rowDefault autoHP">
        <div class="col-12 px-0 pt-3 pb-1 text-center warning" [innerHTML]="'CONFIGURE_WALLET.configure_wallet_warning' | translate">
          
        </div>
      </div>
      
      
    </div>
  </div>
  <div class="row justify-content-md-center defaultTable content text-center" *ngIf="activePanel == 0">
    <div class="col-12 px-4 ">
      <p>
        {{ 'CONFIGURE_WALLET.configure_wallet_text' | translate }}
      </p>
    </div>
    <div class="col-12 px-0 ">
      <div class="row justify-content-center buttons">
        <div class="col-xl-3 col-lg-4 col-10">
          <a (click)="setPanel(11)"><button type="submit" class="btn btn-primary">{{ 'CONFIGURE_WALLET.configure_wallet_button_import' | translate }}</button></a>
        </div>
        <div class="col-xl-3 col-lg-4 col-10">
          <a (click)="setPanel(1)"><button type="submit" class="btn btn-secondary">{{ 'CONFIGURE_WALLET.configure_wallet_button_create' | translate }}</button></a>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="container" *ngIf="activePanel == 1">
  <div class="row">
    <div class="col-12 px-0">
      <h1>{{ 'CREATE_NEW_WALLET.create_new_wallet_title' | translate }}</h1>
    </div>
  </div>
  <div class="row defaultTable content">
    <div class="col-12">
      <div class="row align-items-center rowContent autoHP">
        <div class="col-12 px-0 pb-3 text-center" [innerHTML]="'CREATE_NEW_WALLET.create_new_wallet_text1' | translate">
        </div>
      </div>
      <div class="row align-items-center rowContent autoHP">
        <div class="col-12 px-0 pt-3 pb-1 text-center warning">
            {{ 'CREATE_NEW_WALLET.create_new_wallet_text2' | translate }}
        </div>
        <div class="col-12 px-0 pb-1 text-center boldbig">
            {{ 'CREATE_NEW_WALLET.create_new_wallet_text3' | translate }}
        </div>
        <div class="col-12 px-0 pb-3 text-center boldbig">
            {{ 'CREATE_NEW_WALLET.create_new_wallet_text4' | translate }}
        </div>
      </div>
      <div class="row align-items-center justify-content-center rowDefault rowButtons">
        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 px-0 px-sm-2 text-left text-truncate mobile-break">
          <a (click)="createNewWallet()"><button type="submit" class="btn btn-primary">{{ 'CREATE_NEW_WALLET.create_new_wallet_button' | translate }}</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="activePanel == 3">
  <div class="row">
    <div class="col-12 px-0">
      <h1>{{ 'CREATE_NEW_CREATED.create_new_created_title' | translate }}</h1>
    </div>
  </div>
  
  <div class="row defaultTable content">
    <div class="col-12">
      <div class="row align-items-center rowDefault">
        <div class="col-12 px-0 text-center">
            {{ 'CREATE_NEW_CREATED.create_new_created_text' | translate }}
        </div>
      </div>
    </div>
  </div>
  
  <div class="row align-items-top">
    <div class="col-xl-6 px-0 pr-xl-3">
      <div class="col-12 defaultTable tableQLC content">
        <div class="row align-items-center rowTitles">
          <div class="col-12 pb-3">
              {{ 'CREATE_NEW_CREATED.mnemonic' | translate }}
          </div>
        </div>
        <div class="row align-items-center rowDefault">
          <div class="col-12 pb-3">
            {{ newWalletMnemonic }}
          </div>
        </div>
        <div class="row align-items-center rowButtons">
          <div class="col-12 px-0">
            <a tooltip="{{ 'CREATE_NEW_CREATED.copy_mnemonic' | translate }}" ngxClipboard [cbContent]="newWalletMnemonic" (cbOnSuccess)="copied()" class="icon-text-link"><span class="icon copy light"></span> {{ 'COPY_TO_CLIPBOARD' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 px-0 pl-xl-3">
      <div class="col-12 defaultTable tableQLC content">
        <div class="row align-items-center rowTitles">
          <div class="col-12 pb-3">
              {{ 'CREATE_NEW_CREATED.seed' | translate }}
          </div>
        </div>
        <div class="row align-items-center rowDefault">
          <div class="col-12 pb-3">
            {{ newWalletSeed }}
          </div>
        </div>
        <div class="row align-items-center rowButtons">
          <div class="col-12 px-0 align-self-end">
            <a tooltip="{{ 'CREATE_NEW_CREATED.copy_seed' | translate }}" ngxClipboard [cbContent]="newWalletSeed" (cbOnSuccess)="copied()" class="icon-text-link" ><span class="icon copy light"></span> {{ 'COPY_TO_CLIPBOARD' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <div class="row defaultTable content">
    <div class="col-12">
      <div class="row align-items-center rowContent autoHP">
        <div class="col-12 px-0 pb-1 text-center boldbig" [innerHtml]="'CREATE_NEW_CREATED.warning1' | translate">
          
        </div>
        <div class="col-12 px-0 pb-3 text-center boldbig">
            {{ 'CREATE_NEW_CREATED.warning2' | translate }}
        </div>
      </div>
      
      <div class="row align-items-center justify-content-center rowDefault rowButtons">
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 px-0 px-sm-2 text-left text-truncate mobile-break">
          <a (click)="confirmNewSeed()"><button type="submit" class="btn btn-danger">{{ 'CREATE_NEW_CREATED.create_new_created_button' | translate }}</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="activePanel == 4">
  <div class="container">
    <div class="row">
      <div class="col-12 px-0">
        <h1>{{ 'SET_WALLET_PASSWORD.set_wallet_password_title' | translate }}</h1>
      </div>
    </div>
    
    <div class="row defaultTable content">
      <div class="col-12">
        <div class="row align-items-center rowContent autoHP">
          <div class="col-12 px-0 pb-3 text-center">
              {{ 'SET_WALLET_PASSWORD.set_wallet_password_text' | translate }}
          </div>
          
        </div>
        <div class="row align-items-center rowContent autoHP">
          <div class="col-md-6 px-0 pr-md-3">
            <div class="row align-items-center rowDefault autoHP">
              <div class="col-12 px-0 py-3 text-truncate dataName">
                  {{ 'SET_WALLET_PASSWORD.password' | translate }}
              </div>
              <div class="col-12 px-0 pb-3 text-left text-truncate">
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" [(ngModel)]="walletPasswordModel" placeholder="{{ 'SET_WALLET_PASSWORD.password_placeholder' | translate }}" onfocus="this.placeholder = ''">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 px-0 pl-md-3">
            <div class="row align-items-center rowDefault autoHP">
              <div class="col-12 px-0 pb-3 py-md-3 text-truncate dataName">
                  {{ 'SET_WALLET_PASSWORD.confirm' | translate }}
              </div>
              <div class="col-12 px-0 pb-3 text-left text-truncate">
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" (keyup.enter)="saveWalletPassword()" [(ngModel)]="walletPasswordConfirmModel" placeholder="{{ 'SET_WALLET_PASSWORD.confirm_placeholder' | translate }}" onfocus="this.placeholder = ''">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row align-items-center justify-content-center rowDefault rowButtons">
          <div class="col-lg-3 col-md-5 col-sm-6 col-12 px-0 px-sm-2 text-left text-truncate mobile-break">
            <button (click)="saveWalletPassword()" type="submit" class="btn btn-primary">{{ 'SET_WALLET_PASSWORD.set_wallet_password_button' | translate }}</button>
          </div>
          <div class="col-12 boldBig text-center pt-4">
              {{ 'SET_WALLET_PASSWORD.warning' | translate }}
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="container" *ngIf="activePanel == 5">
  <div class="container">
    <div class="row">
      <div class="col-12 px-0">
        <h1>{{ 'WALLET_CONFIGURED.wallet_configured_title' | translate }}</h1>
      </div>
    </div>
    
    <div class="row defaultTable content">
      <div class="col-12">
        <div class="row align-items-center rowContent autoHP">
          <div class="col-12 px-0 pb-3 text-center">
              {{ 'WALLET_CONFIGURED.wallet_configured_text' | translate }} 
          </div>
          
        </div>
        
        <div class="row align-items-center justify-content-center rowDefault rowButtons">
          <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-12 px-0 px-sm-2 text-left text-truncate mobile-break">
            <button routerLink="/accounts" type="submit" class="btn btn-primary">{{ 'WALLET_CONFIGURED.wallet_configured_button' | translate }}</button>
          </div>
          <div class="col-12 boldBig text-center pt-4">
              {{ 'WALLET_CONFIGURED.warning' | translate }}
          </div>
          <div class="col-12 boldBig text-center pt-4" *ngIf="walletService.isLedgerWallet()">
              {{ 'WALLET_CONFIGURED.warning_ledger' | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="activePanel == 11">
  <div class="container">
    <div class="row">
      <div class="col-12 px-0">
        <h1>{{ 'IMPORT.import_title' | translate }}</h1>
      </div>
    </div>
    <div class="row defaultTable content">
      <div class="col-12">
        <div class="row align-items-center rowContent autoHP">
          <div class="col-12 px-0 pb-3 text-center">
              {{ 'IMPORT.import_text' | translate }} 
          </div>
          
        </div>
        <div class="row align-items-center rowContent autoHP">
          <div class="col-12 px-0 pt-3 text-truncate dataName">{{ 'IMPORT.import_type' | translate }}</div>
          <div class="col-12 px-0 pt-3 pb-3 text-left text-truncate">
            <div class="form-group">
              <select class="custom-select" [(ngModel)]="selectedImportOption">
                <option *ngFor="let option of importOptions" [value]="option.value">{{ option.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row align-items-center rowContent autoHP" *ngIf="selectedImportOption === 'seed'">
          <div class="col-12 px-0 py-3 text-truncate dataName">{{ 'IMPORT.seed_title' | translate }}</div>
          <div class="col-12 px-0 pb-3 text-left text-truncate">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="importExistingWallet()" [(ngModel)]="importSeedModel" placeholder="{{ 'IMPORT.seed_placeholder' | translate }}" onfocus="this.placeholder = ''">
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center rowContent autoHP" *ngIf="selectedImportOption === 'mnemonic'">
          <div class="col-12 px-0 py-3 text-truncate dataName">{{ 'IMPORT.mnemonic_title' | translate }}</div>
          <div class="col-12 px-0 pb-3 text-left text-truncate">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" (keyup.enter)="importExistingWallet()" [(ngModel)]="importSeedMnemonicModel" placeholder="{{ 'IMPORT.mnemonic_placeholder' | translate }}" onfocus="this.placeholder = ''">
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center rowContent autoHP" *ngIf="selectedImportOption === 'file'">
          <div class="col-12 px-0 py-3">{{ 'IMPORT.file_text' | translate }}</div>
          
        </div>
        <div class="row align-items-center rowContent autoHP" *ngIf="selectedImportOption === 'ledger'">
          <div class="col-12 px-0 py-3">{{ 'IMPORT.ledger_install' | translate }}</div>
          <div class="col-12 px-0 py-3" *ngIf="ledger.status === ledgerStatus.NOT_CONNECTED">
            <b>{{ 'IMPORT.ledger_not_connected' | translate }}</b><br>
            {{ 'IMPORT.ledger_not_connected_desc' | translate }}
          </div>
          <div class="col-12 px-0 py-3" *ngIf="ledger.status === ledgerStatus.LOCKED">
            <b>{{ 'IMPORT.ledger_locked' | translate }}</b><br>
            {{ 'IMPORT.ledger_locked_desc' | translate }}
          </div>
          <div class="col-12 px-0 py-3" *ngIf="ledger.status === ledgerStatus.READY">
            <b>{{ 'IMPORT.ledger_ready' | translate }}</b><br>
            {{ 'IMPORT.ledger_ready_desc' | translate }}
          </div>
          
        </div>
        <div class="row align-items-center justify-content-center rowDefault rowButtons">
          <div class="col-lg-4 col-md-4 col-sm-5 col-12 px-0 px-sm-2 text-left text-truncate mobile-break">
            <button type="submit" class="btn btn-primary" *ngIf="selectedImportOption === 'mnemonic'" (click)="importExistingWallet()">{{ 'IMPORT.mnemonic_button' | translate }}</button>
            <button type="submit" class="btn btn-primary" *ngIf="selectedImportOption === 'seed'" (click)="importExistingWallet()">{{ 'IMPORT.seed_button' | translate }}</button>
            <button type="submit" class="btn btn-primary" *ngIf="selectedImportOption === 'file'" (click)="importExistingWallet()">{{ 'IMPORT.file_button' | translate }}</button>
            <input type="file" id="import-from-file" *ngIf="selectedImportOption === 'file'" (change)="importFromFile($event.target.files)" multiple>
            <button type="submit" class="btn btn-primary" *ngIf="selectedImportOption === 'ledger' && ledger.status === ledgerStatus.READY" (click)="importLedgerWallet()">{{ 'IMPORT.ledger_button_import' | translate }}</button>
            <button type="submit" class="btn btn-primary" *ngIf="selectedImportOption === 'ledger' && ledger.status !== ledgerStatus.READY" (click)="importLedgerWallet(true)">{{ 'IMPORT.ledger_button_refresh' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




