<div class="container accountDetails">
	<div class="row">
		<div class="col-lg-6 px-0 pr-lg-3">
			<div class="col-12 px-0">
				<h1>{{ 'ACCOUNT_DETAILS.account_details_title' | translate }}</h1>
			</div>
			<div class="col-12">
				<div class="row defaultTable">
					<div class="col-12">
						<div class="row align-items-center rowTitles">
							<div class="col-12 pl-0">{{ 'ACCOUNT_DETAILS.account' | translate }}</div>
						</div>
						<div class="row rowDefault rowAccountDetails">
							<div class="col-md-7 px-0">
								<div *ngIf="!showEditAddressBook">
									<h1 *ngIf="addressBookEntry">{{ addressBookEntry }}</h1>
									<h1 *ngIf="!addressBookEntry">{{ accountId }}</h1>
									<h3 *ngIf="addressBookEntry">{{ accountId }}</h3>
								</div>
								<div *ngIf="showEditAddressBook">
									<div class="row">
										<div class="col-12"><input type="text" class="form-control" [(ngModel)]="addressBookEntry" /></div>
										<div class="col-6 pr-1">
											<button class="btn btn-primary" type="button" (click)="editNameCancel()">
												{{ 'CANCEL' | translate }}
											</button>
										</div>
										<div class="col-6 pl-1">
											<button class="btn btn-danger" type="button" (click)="saveAddressBook()">
												{{ 'OK' | translate }}
											</button>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-12 px-0 d-block d-md-none py-4 text-center">
										<a (click)="editName()" class="icon-text-link"
											><span class="icon edit"></span> {{ 'EDIT_NAME' | translate }}</a
										>
										<a ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()" class="icon-text-link"
											><span class="icon copy"></span> {{ 'COPY_ADDRESS' | translate }}</a
										>
									</div>
								</div>
							</div>
							<div class="col-md-5 px-0 text-center">
								<div class="qrcode"><img *ngIf="qrCodeImage" [src]="qrCodeImage" /></div>
							</div>
						</div>
						<div class="row rowDefault rowAccountDetails">
							<div class="col-md-7 px-0 d-none d-md-block">
								<div class="row">
									<a (click)="editName()" class="icon-text-link"
										><span class="icon edit"></span> {{ 'EDIT_NAME' | translate }}</a
									>
									<a ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()" class="icon-text-link"
										><span class="icon copy"></span> {{ 'COPY_ADDRESS' | translate }}</a
									>
								</div>
							</div>
							<div class="col-md-5 px-0 text-center">
								<p>{{ 'SCAN_TO_RECEIVE' | translate }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 px-0 pl-lg-3">
			<div class="col-12 px-0 d-block d-lg-none"><div class="seperator"></div></div>
			<div class="col-12 px-0">
				<h1>{{ 'ACCOUNT_DETAILS.balances_title' | translate }}</h1>
			</div>
			<div class="col-12">
				<div class="row defaultTable">
					<div class="col-12">
						<div class="row align-items-center rowTitles">
							<div class="col-4 pl-0">{{ 'ACCOUNT_DETAILS.token' | translate }}</div>
							<div class="col-5 text-right">{{ 'ACCOUNT_DETAILS.balance' | translate }}</div>
							<div class="col-3 pr-0 text-right">{{ 'ACCOUNT_DETAILS.value' | translate }}</div>
						</div>
						<div class="row align-items-center rowContent" *ngFor="let balance of account.accoutMeta">
							<div class="col-4 pl-0 text-truncate">
								<span class="tokenIcon {{ balance.token | lowercase }}"></span>{{ balance.symbol }}
							</div>
							<div class="col-5 text-right">
								{{ balance.balance || 0 | qlc: settings.settings.displayDenomination }}
							</div>
							<div class="col-3 pr-0 totalvalue text-right">-</div>
						</div>
						<div class="row align-items-center rowFooter"><div class="col-12 pl-0 pr-0 text-right">-</div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="seperator"></div>
	<div class="row">
		<div class="col-12 pl-0 pr-0">
			<h1>{{ 'ACCOUNT_DETAILS.pending_transactions' | translate }}</h1>
		</div>
	</div>
	<div class="row defaultTable">
		<div class="col-12">
			<div class="row align-items-center rowTitles">
				<div class="col-md-2 pl-0 col-2 d-none d-lg-block">{{ 'ACCOUNT_DETAILS.date' | translate }}</div>
				<div class="col-lg-5 px-0 col-md-6 col-4 text-left">{{ 'ACCOUNT_DETAILS.account' | translate }}</div>
				<div class="col-3 col-md-2 price text-right">{{ 'ACCOUNT_DETAILS.amount' | translate }}</div>
				<div class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right">
					{{ 'ACCOUNT_DETAILS.token' | translate }}
				</div>
				<div class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right">{{ 'ACCOUNT_DETAILS.hash' | translate }}</div>
			</div>
			<div *ngFor="let pending of pendingBlocks" class="row align-items-center rowContent">
				<div class="col-md-2 pl-0 col-2 d-none d-lg-block text-truncate">
					<span *ngIf="!pending.timestamp">{{ 'ACCOUNT_DETAILS.n_a' | translate }}</span
					><span *ngIf="pending.timestamp">{{ pending.timestamp | date: 'short' }}</span>
				</div>
				<div class="col-lg-5 px-0 col-md-6 col-4 text-left text-truncate ">
					<a [routerLink]="'/account/' + pending.account">
						<span *ngIf="pending.addressBookName" class="name">{{ pending.addressBookName }}</span>
						<span class="address">{{ pending.account }}</span>
					</a>
				</div>
				<div class="col-3 col-md-2 price text-right positive_change">
					+{{ pending.amount | qlc: settings.settings.displayDenomination }}
				</div>
				<div class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right positive_change">{{ pending.token }}</div>
				<div class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right text-truncate">
					<a [routerLink]="'/transaction/' + pending.hash">{{ pending.hash }}</a>
				</div>
			</div>
		</div>
	</div>
	<div class="seperator"></div>
	<div class="row">
		<div class="col-12 pl-0 pr-0">
			<h1>{{ 'ACCOUNT_DETAILS.recent_transactions' | translate }}</h1>
		</div>
	</div>
	<div class="row defaultTable">
		<div class="col-12">
			<div class="row align-items-center rowTitles">
				<div class="col-md-2 pl-0 col-2 d-none d-lg-block">{{ 'ACCOUNT_DETAILS.date' | translate }}</div>
				<div class="col-lg-5 px-0 col-md-6 col-4 text-left">{{ 'ACCOUNT_DETAILS.account' | translate }}</div>
				<div class="col-3 col-md-2 price text-right">{{ 'ACCOUNT_DETAILS.amount' | translate }}</div>
				<div class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right">
					{{ 'ACCOUNT_DETAILS.token' | translate }}
				</div>
				<div class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right">{{ 'ACCOUNT_DETAILS.hash' | translate }}</div>
			</div>
			<div class="row align-items-center rowContent" *ngFor="let history of accountHistory">
				<div class="col-md-2 pl-0 col-2 d-none d-lg-block text-truncate">
					<span *ngIf="history.timestamp">{{ history.timestamp | date: 'short' }}</span
					><span *ngIf="!history.timestamp">{{ 'ACCOUNT_DETAILS.n_a' | translate }}</span>
				</div>
				<div
					class="col-lg-5 px-0 col-md-6 col-4 text-left text-truncate"
					tooltip="{{ 'ACCOUNT_DETAILS.view_account_details' | translate }}"
				>
					<a [routerLink]="'/account/' + (history.link_as_account || history.account)">
						<span class="name pr-2" *ngIf="history.addressBookName">{{ history.addressBookName }}</span>
						<span class="address">{{ history.link_as_account || history.account }}</span>
					</a>
				</div>
				<div
					class="col-3 col-md-2 price text-right {{
						history.type == 'send' || history.subtype == 'send' ? 'negative_change' : 'positive_change'
					}}"
				>
					{{ history.type == 'send' || history.subtype == 'send' ? '-' : '+'
					}}{{ history.amount | qlc: settings.settings.displayDenomination }}
				</div>
				<div
					class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right {{
						history.type == 'send' || history.subtype == 'send' ? 'negative_change' : 'positive_change'
					}}"
				>
					{{ history.token }}
				</div>
				<div
					class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right text-truncate"
					tooltip="{{ 'ACCOUNT_DETAILS.view_transaction_details' | translate }}"
				>
					<a [routerLink]="'/transaction/' + history.hash">{{ history.hash }}</a>
				</div>
			</div>
		</div>
	</div>
</div>
