<div class="container accountDetails">
  
  <div class="row">
    <div class="col-lg-6 px-0 pr-lg-3">
      <div class="col-12 px-0">
        <h1>Account Details</h1>
      </div>	
      <div class="col-12">
        <div class="row defaultTable">
          <div class="col-12">
            <div class="row align-items-center rowTitles">
              <div class="col-12 pl-0">Account</div>
            </div>
            <div class="row rowDefault rowAccountDetails">
              <div class="col-md-7 px-0">
                <h1 *ngIf="addressBookEntry">{{ addressBookEntry }}</h1>
                <h1 *ngIf="!addressBookEntry">{{ accountID }}</h1>
                <h3 *ngIf="addressBookEntry">{{ accountID }}</h3>
                <div class="row">
                  <div class="col-12 px-0 d-block d-md-none py-4 text-center">
                    <a href="#" class="icon-text-link"><span class="icon edit"></span> Edit name</a>
                    <a ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()"  class="icon-text-link"><span class="icon copy"></span> Copy address</a>
                  </div>
                </div>
              </div>
              <div class="col-md-5 px-0 text-center">
                <div class="qrcode"><img *ngIf="qrCodeImage" [src]="qrCodeImage"></div>
              </div>
              
            </div>
            <div class="row rowDefault rowAccountDetails">
              <div class="col-md-7 px-0 d-none d-md-block">
                <div class="row">
                  <a href="#" class="icon-text-link"><span class="icon edit"></span> Edit name</a>
                  <a ngxClipboard [cbContent]="accountID" (cbOnSuccess)="copied()"  class="icon-text-link"><span class="icon copy"></span> Copy address</a>
                </div>
              </div>
              <div class="col-md-5 px-0 text-center">
                <p>SCAN TO RECEIVE</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-lg-6 px-0 pl-lg-3">
      <div class="col-12 px-0 d-block d-lg-none">
        <div class="seperator"></div>
      </div>
      <div class="col-12 px-0">
        <h1>Balances</h1>
      </div>	
      <div class="col-12">
        <div class="row defaultTable">
          <div class="col-12">
            <div class="row align-items-center rowTitles">
              <div class="col-4 pl-0">Token</div>
              <div class="col-5 text-right">Balance</div>
              <div class="col-3 pr-0 text-right">Value</div>
            </div>
            <div class="row align-items-center rowContent">
              <div class="col-4 pl-0 text-truncate"><span class="tokenIcon qn1"></span>QN1</div>
              <div class="col-5 text-right">1,282,366.54</div>
              <div class="col-3 pr-0 totalvalue text-right">-</div>
            </div>
            <div class="row align-items-center rowContent">
              <div class="col-4 pl-0 text-truncate"><span class="tokenIcon qn2"></span>QN2</div>
              <div class="col-5 text-right">282,366.54</div>
              <div class="col-3 pr-0 totalvalue text-right">-</div>
            </div>
            <div class="row align-items-center rowContent">
              <div class="col-4 pl-0 text-truncate"><span class="tokenIcon qn3"></span>QN3</div>
              <div class="col-5 text-right">366.54</div>
              <div class="col-3 pr-0 totalvalue text-right">-</div>
            </div>
            <div class="row align-items-center rowContent">
              <div class="col-4 pl-0 text-truncate"><span class="tokenIcon qn4"></span>QN4</div>
              <div class="col-5 text-right">66.54004041</div>
              <div class="col-3 pr-0 totalvalue text-right">-</div>
            </div>
            <div class="row align-items-center rowFooter">
              <div class="col-12 pl-0 pr-0 text-right">-</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seperator"></div>
  <div class="row">
    <div class="col-12 pl-0 pr-0">
      <h1>Pending Transactions</h1>
    </div>
  </div>
  <div class="row defaultTable">
    <div class="col-12">
      <div class="row align-items-center rowTitles">
        <div class="col-md-2 pl-0 col-2 d-none d-lg-block">Date</div>
        <div class="col-lg-5 px-0 col-md-6 col-4 text-left">Account</div>
        <div class="col-3 col-md-2 price text-right">Amount</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right">Token</div>
        <div class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right">Hash</div>
      </div>
      <div *ngFor="let pending of pendingBlocks" class="row align-items-center rowContent">
        <div class="col-md-2 pl-0 col-2 d-none d-lg-block text-truncate"><span *ngIf="!pending.timestamp">N/A</span><span *ngIf="pending.timestamp">{{ pending.timestamp | date: 'short' }}</span></div>
        <div class="col-lg-5 px-0 col-md-6 col-4 text-left text-truncate ">
          <a [routerLink]="'/account/' + pending.account">
            <span *ngIf="pending.addressBookName" class="name">{{ pending.addressBookName }}</span> 
            <span class="address">{{ pending.account }}</span>
          </a>
        </div>
        <div class="col-3 col-md-2 price text-right positive_change">+{{ pending.amount | qlc: settings.settings.displayDenomination }}</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right positive_change">QN1</div>
        <div class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right text-truncate"><a [routerLink]="'/transaction/' + pending.hash">{{ pending.hash }}</a></div>
      </div>
    </div>
  </div>
  <div class="seperator"></div>
  <div class="row">
    <div class="col-12 pl-0 pr-0">
      <h1>Recent Transactions</h1>
    </div>
  </div>
  <div class="row defaultTable">
    <div class="col-12">
      <div class="row align-items-center rowTitles">
        <div class="col-md-2 pl-0 col-2 d-none d-lg-block">Date</div>
        <div class="col-lg-5 px-0 col-md-6 col-4 text-left">Account</div>
        <div class="col-3 col-md-2 price text-right">Amount</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right">Token</div>
        <div class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right">Hash</div>
      </div>
      <div class="row align-items-center rowContent" *ngFor="let history of accountHistory">
        <div class="col-md-2 pl-0 col-2 d-none d-lg-block text-truncate"><span *ngIf="history.timestamp">{{ history.timestamp | date: 'short' }}</span><span *ngIf="!history.timestamp">N/A</span></div>
        <div class="col-lg-5 px-0 col-md-6 col-4 text-left text-truncate">
          <a [routerLink]="'/account/' + (history.link_as_account || history.account)">
            <span class="name" *ngIf="history.addressBookName">{{ history.addressBookName }}</span> 
            <span class="address">{{ history.link_as_account || history.account }}</span>
          </a>
        </div>
        <div class="col-3 col-md-2 price text-right {{ (history.type == 'send' || history.subtype == 'send') ? 'negative_change' : 'positive_change' }}">{{ (history.type == 'send' || history.subtype == 'send') ? '-' : '+' }}{{ history.amount | qlc: settings.settings.displayDenomination }}</div>
        <div class="col-xl-1 col-lg-2 col-md-2 col-3 pricechange text-right {{ (history.type == 'send' || history.subtype == 'send') ? 'negative_change' : 'positive_change' }}">QN1</div>
        <div class="col-xl-2 pr-0 col-lg-1 col-2 totalvalue text-right text-truncate"><a [routerLink]="'/transaction/' + history.hash">{{ history.hash }}</a></div>
      </div>
    </div>
  </div>
</div>


