<div class="container">
    <div class="row">
      <div class="col-12 px-0 text-center">
        <h1>Welcome to QLC Chain Multidimensional Block Lattice!</h1>
      </div>
    </div>
    <div class="row justify-content-md-center defaultTable content text-center"  *ngIf="!wallet.seed">
      <div class="col-12 px-4 ">
        <p>To get started, choose an option below to configure your wallet</p>
      </div>
      <div class="col-12 px-0 ">
        <div class="row justify-content-center buttons">
          <div class="col-xl-3 col-lg-4 col-10">
            <a routerLink="/configure-wallet" [queryParams]="{ import: 1}" ><button type="submit" class="btn btn-primary">IMPORT AN EXISTING WALLET</button></a>
          </div>
          <div class="col-xl-3 col-lg-4 col-10">
            <a routerLink="/configure-wallet"><button type="submit" class="btn btn-secondary">CREATE NEW WALLET</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center defaultTable content text-center"  *ngIf="wallet.seed">
        <div class="col-12 px-4 ">
          <p>It looks like your wallet is already configured.</p>
        </div>
        <div class="col-12 px-0 ">
          <div class="row justify-content-center buttons">
            <div class="col-xl-3 col-lg-4 col-10">
              <a routerLink="/accounts"><button type="submit" class="btn btn-primary">View My Accounts</button></a>
            </div>
          </div>
        </div>
      </div>
  </div>