<div class="container">
	<div class="row">
		<div class="col-12 px-0">
			<h1>{{ 'TRANSACTION_DETAILS.transaction_details' | translate }}</h1>
		</div>
	</div>
	<div *ngIf="!transaction" class="row defaultTable content">
		<div class="col-12 text-center">{{ 'TRANSACTION_DETAILS.transaction_error' | translate }}</div>
	</div>
	<div *ngIf="transaction">
		<div class="row defaultTable transactionDetails">
			<div class="col-12">
				<div class="row align-items-center title">
					<div class="col-12 px-0 ">
						<span *ngIf="blockType == 'Send'">{{ 'TRANSACTION_DETAILS.send' | translate }}</span>
						<span *ngIf="blockType == 'Open'">{{ 'TRANSACTION_DETAILS.receive' | translate }}</span>
						<span *ngIf="blockType == 'Eeceive'">{{ 'TRANSACTION_DETAILS.receive' | translate }}</span>
						<span *ngIf="blockType == 'Change'">{{ 'TRANSACTION_DETAILS.change_representative' | translate }}</span>
					</div>
				</div>
				<div class="row align-items-center fromText">
					<div class="col-12 ">{{ 'TRANSACTION_DETAILS.from_address' | translate }}</div>
				</div>
				<div class="row align-items-center fromAddress">
					<div class="col-12 ">
						<a [routerLink]="'/account/' + fromAccountID" tooltip="{{ 'VIEW_ACCOUNT_DETAILS' | translate }}">
							<span class="name" *ngIf="fromAddressBook">{{ fromAddressBook }} </span>
							<span class="address">{{ fromAccountID }}</span>
						</a>
					</div>
				</div>
				<div class="row align-items-center ">
					<div class="col-12 presum"></div>
					<div class="col-12 sum">
						<span>{{ transaction?.amount | qlc: settings.settings.displayDenomination }}</span>
					</div>
					<div class="col-12 postsum"></div>
				</div>
				<div class="row align-items-center toText">
					<div class="col-12 ">{{ 'TRANSACTION_DETAILS.to_address' | translate }}</div>
				</div>
				<div class="row align-items-center toAddress">
					<div class="col-12 ">
						<a [routerLink]="'/account/' + toAccountID" tooltip="{{ 'VIEW_ACCOUNT_DETAILS' | translate }}">
							<span class="name" *ngIf="toAddressBook">{{ toAddressBook }} </span>
							<span class="address">{{ toAccountID }}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
			<div class="col-12 pl-0 pr-0">
				<h1>{{ 'TRANSACTION_DETAILS.block_details' | translate }}</h1>
			</div>
		</div>
		<div class="row defaultTable">
			<div class="col-12">
				<div class="row align-items-center rowContent">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.block' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate">{{ hashID }}</div>
				</div>
				<div class="row align-items-center rowContent">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.type' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate">{{ transaction?.type }}</div>
				</div>
				<div class="row align-items-center rowContent">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.date' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate">
						<span *ngIf="transaction.timestamp">{{ transaction?.timestamp * 1000 | date: 'short' }}</span>
						<span *ngIf="!transaction.timestamp">{{ 'N_A' | translate }}</span>
					</div>
				</div>
				<div class="row align-items-center rowContent" *ngIf="transaction?.balance">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.balance' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate">
						{{ transaction?.balance | qlc: settings.settings.displayDenomination }}<br />
						<!-- <span class="uk-text-small">{{ transaction?.balance }} {{ token }}</span> -->
					</div>
				</div>
				<div class="row align-items-center rowContent" *ngIf="transaction?.representative">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.representative' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate" tooltip="{{ 'VIEW_ACCOUNT_DETAILS' | translate }}">
						<a [routerLink]="'/account/' + transaction?.representative">{{ transaction?.representative }}</a>
					</div>
				</div>
				<div class="row align-items-center rowContent" *ngIf="transaction?.previous">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.previous' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate" tooltip="{{ 'VIEW_BLOCK_DETAILS' | translate }}">
						<a [routerLink]="'/transaction/' + transaction?.previous">{{ transaction?.previous }}</a>
					</div>
				</div>
				<div class="row align-items-center rowContent" *ngIf="transaction?.source">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.source' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate" tooltip="{{ 'VIEW_BLOCK_DETAILS' | translate }}">
						<a [routerLink]="'/transaction/' + transaction?.source">{{ transaction?.source }}</a>
					</div>
				</div>
				<div class="row align-items-center rowContent" *ngIf="transaction?.link && blockType == 'Receive'">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.link_source' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate" tooltip="{{ 'VIEW_BLOCK_DETAILS' | translate }}">
						<a [routerLink]="'/transaction/' + transaction?.link">{{ transaction?.link }}</a>
					</div>
				</div>
				<div class="row align-items-center rowContent" *ngIf="transaction?.link_as_account && blockType == 'Send'">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.link_destination' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate" tooltip="{{ 'VIEW_ACCOUNT_DETAILS' | translate }}">
						<a [routerLink]="'/account/' + transaction?.link_as_account">{{ transaction?.link_as_account }}</a>
					</div>
				</div>
				<div class="row align-items-center rowContent">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.work' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate">{{ transaction?.work }}</div>
				</div>
				<div class="row align-items-center rowContent">
					<div class="col-2 px-0 text-truncate dataName">{{ 'TRANSACTION_DETAILS.signature' | translate }}:</div>
					<div class="col-9 px-0 text-left text-truncate">{{ transaction?.signature }}</div>
				</div>
			</div>
		</div>
		<div class="seperator"></div>
		<div class="row">
			<div class="col-12 pl-0 pr-0">
				<h1>{{ 'TRANSACTION_DETAILS.raw_block_data' | translate }}</h1>
			</div>
		</div>
		<div class="row defaultTable">
			<div class="col-12">
				<div class="row align-items-center rowContent autoH">
					<pre><code>{{ transactionJSON }}</code></pre>
				</div>
			</div>
		</div>
	</div>
</div>
