<div class="container representatives">
  <div class="row">
    <div class="col-12 px-0">
      <h1>{{ 'REPRESENTATIVES.representatives_title' | translate }}</h1><button type="submit" class="btn btn-primary content-header" routerLink="/manage-representatives">{{ 'REPRESENTATIVES.representatives_button' | translate }}</button>
    </div>
  </div>
  <div class="row defaultTable content">
    <div class="col-12 text-center">
      {{ 'REPRESENTATIVES.representatives_text' | translate }}
    </div>
  </div>
  <div class="row defaultTable">
    <div class="col-12">
      <div class="row align-items-center rowTitles">
        <div class="pl-0 col-3">{{ 'REPRESENTATIVES.status' | translate }}</div>
        <div class="px-0 col-5 text-left">{{ 'REPRESENTATIVES.representative' | translate }}</div>
        <div class="col-4 text-right">{{ 'REPRESENTATIVES.weight' | translate }}</div>
      </div>
      <div class="row align-items-center rowContent" *ngFor="let rep of representativeOverview">
        <div class="pl-0 col-3">
          <span *ngIf="rep.status === 'alert'" tooltip="{{ 'REPRESENTATIVES.status_alert' | translate }}"><span class="icon avoid"></span> {{ 'REPRESENTATIVES.change' | translate }}</span>
          <span *ngIf="rep.status === 'warn'" tooltip="{{ 'REPRESENTATIVES.status_warn' | translate }}"><span class="icon avoid"></span> {{ 'REPRESENTATIVES.change' | translate }}</span>
          <span *ngIf="rep.status === 'trusted'" tooltip="{{ 'REPRESENTATIVES.status_trusted' | translate }}"><span class="icon trusted"></span> {{ 'REPRESENTATIVES.trusted' | translate }}</span>
          <span *ngIf="rep.status === 'known'" tooltip="{{ 'REPRESENTATIVES.status_known' | translate }}"><span class="icon trusted"></span> {{ 'REPRESENTATIVES.known' | translate }}</span>
          <span *ngIf="rep.status === 'none'" tooltip="{{ 'REPRESENTATIVES.status_none' | translate }}"><span class="icon avoid"></span> {{ 'REPRESENTATIVES.unknown' | translate }}</span>
        </div>
        <div class="px-0 col-5 text-left text-truncate" (click)="addSelectedAccounts(rep.accounts)" style="cursor: pointer;" >
            <span class="icon online" *ngIf="rep.online" tooltip="{{ 'REPRESENTATIVES.online' | translate }}" container="body"></span>
            <span class="icon offline" *ngIf="!rep.online" tooltip="{{ 'REPRESENTATIVES.offline' | translate }}" container="body"></span>
          <span tooltip="{{ 'REPRESENTATIVES.select_accounts' | translate }}" container="body"><span *ngIf="rep.label">{{ rep.label }}</span> <span *ngIf="!rep.label">{{ rep.id }}</span></span>
        </div>
        <div class="col-4 text-right">
          {{ rep.delegatedWeight | qlc: 'mqlc' }}
        </div>
        
      </div>
      <div *ngIf="!representativeOverview || !representativeOverview.length" class="row align-items-center rowContent">
        <div class="col-12 text-center">
          {{ 'REPRESENTATIVES.no_voting_delegate' | translate }}
        </div>
      </div>
      <div class="row align-items-center rowFooter">
        <div class="px-0 col-12 text-center">{{ 'REPRESENTATIVES.select_all_acc_with_rep' | translate }}</div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 px-0">
      <h1>{{ 'REPRESENTATIVES.change_reps' | translate }}</h1>
    </div>
  </div>
  <div class="row defaultTable content">
    <div class="col-12">
      <div class="row align-items-center rowContent autoHP pb-3">
        <div class="col-md-2 px-0 pb-3 pb-md-0 text-truncate dataName">{{ 'REPRESENTATIVES.accounts_to_change' | translate }}</div>
        <div class="col-md-10 px-0 text-left text-truncate">
          <div class="form-group">
            <select class="custom-select" [(ngModel)]="changeAccountID" (change)="newAccountID(changeAccountID)">
              <option [value]="null">{{ 'REPRESENTATIVES.select_accounts_to_change' | translate }}</option>
              <option [value]="'all'">{{ 'REPRESENTATIVES.all_accounts' | translate }}</option>
              <option *ngFor="let account of wallet.wallet.accounts" [value]="account.id">{{ account.addressBookName ? account.addressBookName + ' - ' : '' }} {{ account.id | squeeze }} ({{ account.balance | qlc: settings.settings.displayDenomination }})</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row align-items-center rowContent autoHP py-3" *ngFor="let account of selectedAccounts">
          <div class="col-md-2 px-0 pb-3 pb-md-0 d-none d-md-block text-truncate dataName"></div>
          <div class="col-md-8 col-11 px-0 text-left text-truncate">
            <span class="name" *ngIf="account.addressBookName">{{ account.addressBookName }}</span> <span class="address">{{ account.id }}</span>
          </div>
          <div class="col-md-2 col-1 px-0 text-right"><a (click)="removeSelectedAccount(account)" class="icon delete"></a></div>
        </div>




      <div class="row align-items-center rowContent autoHP">
        <div class="col-md-2 px-0 pb-3 pb-md-0 text-truncate dataName">{{ 'REPRESENTATIVES.new_rep' | translate }}</div>
        <div class="col-md-10 px-0 text-left text-truncate py-3">
          <div class="form-group">
            <select class="custom-select contacts" [(ngModel)]="representativeSelect" (change)="selectRep()" (click)="selectRep()">
              <option *ngFor="let rep of representativeResults$ | async" [value]="rep.id">{{rep.name}} {{rep.id}}</option>
            </select>
            <input type="text" class="form-control newrepresentative" placeholder="{{ 'REPRESENTATIVES.new_rep_placeholder' | translate }}" onfocus="this.placeholder = ''" (blur)="validateRepresentative()" (keyup)="searchRepresentatives()" (focus)="searchRepresentatives()" [(ngModel)]="toRepresentativeID" #repInput>
          </div>
        </div>
      </div>



      
      <div class="row align-items-center rowButtons">
        <div class="col-md-2 px-0 text-truncate dataName"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-0 text-left text-truncate">
          <button type="submit" class="btn btn-primary" (click)="changeRepresentatives()" *ngIf="!changingRepresentatives">{{ 'REPRESENTATIVES.update_rep' | translate }}</button>
          <button type="submit" class="btn btn-primary" *ngIf="changingRepresentatives">{{ 'REPRESENTATIVES.updating_rep' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
  