<div class="container" *ngIf="activePanel == 0">
  <div class="row">
    <div class="col-12 pl-0 pr-0">
      <h1>{{ 'REPRESENTATIVES_LIST.representatives_list_title' | translate }}</h1><button type="submit" class="btn btn-primary content-header" (click)="activePanel = 1;">{{ 'REPRESENTATIVES_LIST.representatives_list_button' | translate }}</button>
    </div>
  </div>
  <div class="row defaultTable">
    <div class="col-12" *ngIf="activePanel == 0" >
      <div class="row align-items-center rowTitles">
        <div class="col-md-2 pl-0 col-4">{{ 'REPRESENTATIVES_LIST.name' | translate }}</div>
        <div class="col-lg-7 pr-2 pr-md-0 col-md-7 col-7">{{ 'REPRESENTATIVES_LIST.account_id' | translate }}</div>
        <div class="px-0 col-1 d-none d-md-block"></div>
        <div class="col-md-2 col-1 px-0 price text-right d-none d-md-block">{{ 'REPRESENTATIVES_LIST.options' | translate }}</div>
      </div>
      <div class="row align-items-center rowContent" *ngFor="let representative of representatives$ | async;" [attr.data-account]="representative.id">
        <div class="col-md-2 pl-0 col-4 name"   >
          <div class="row">
            <div class="col-4 col-lg-3 col-xl-2 pr-0">
              <span class="icon online" *ngIf="representative.online" tooltip="{{ 'REPRESENTATIVES_LIST.online' | translate }}" container="body"></span>
              <span class="icon offline" *ngIf="!representative.online" tooltip="{{ 'REPRESENTATIVES_LIST.offline' | translate }}" container="body"></span>
            </div>
            <div class="col-8 col-lg-9 col-xl-10 px-0 pl-0 pl-xl-1 text-truncate" tooltip="{{ 'REPRESENTATIVES_LIST.edit_rep' | translate }}">
              <a (click)="editEntry(representative)">{{ representative.name }}</a>
            </div>
          </div>
        </div>
        <div class="col-lg-7 pr-2 pr-md-0 col-md-7 col-6 text-truncate" >
          <span *ngIf="representative.trusted" class="icon trusted" tooltip="Representative marked as trusted" container="body"></span>
          <span *ngIf="representative.warn" class="icon avoid" tooltip="Representative marked as avoid" container="body"></span>
          <a [routerLink]="'/account/' + representative.id" class="address" tooltip="{{ 'VIEW_ACCOUNT_DETAILS' | translate }}" container="body">{{ representative.id }}</a>
        </div>
        <div class="px-0 col-1 text-center"><a ngxClipboard [cbContent]="representative.id" (cbOnSuccess)="copied()" tooltip="{{ 'COPY_TO_CLIPBOARD' | translate }}" class="icon copy" container="body"></a></div>
        <div class="col-md-2 col-1 px-0 text-right"><a (click)="deleteRepresentative(representative.id)" tooltip="{{ 'REPRESENTATIVES_LIST.delete_rep' | translate }}" class="icon delete" container="body"></a></div>
      </div>
      <div *ngIf="!(representatives$ | async).length" class="row align-items-center rowContent">
        <div class="col-12 text-center">
          {{ 'REPRESENTATIVES_LIST.no_reps1' | translate }} <a (click)="activePanel = 1">{{ 'REPRESENTATIVES_LIST.no_reps2' | translate }}</a>.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 px-0 content">
      <p>
        {{ 'REPRESENTATIVES_LIST.representatives_list_text' | translate }}
      </p>
    </div>
  </div>
</div>

<div class="container" *ngIf="activePanel == 1">
  <div class="row">
    <div class="col-12 px-0">
      <h1>{{ 'REPRESENTATIVES_LIST.create_new_representative' | translate }}</h1>
    </div>
  </div>
  <div class="row defaultTable content">
    <div class="col-12">
      <div class="row align-items-center rowContent">
        <div class="col-md-2 px-0 text-truncate dataName">{{ 'REPRESENTATIVES_LIST.account_id' | translate }}</div>
        <div class="col-md-10 px-0 text-left text-truncate">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" onfocus="this.placeholder = ''" placeholder="{{ 'REPRESENTATIVES_LIST.account_id_placeholder' | translate }}" [(ngModel)]="newRepAccount" >
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center rowContent mobile-break">
        <div class="col-md-2 px-0 text-truncate dataName">{{ 'REPRESENTATIVES_LIST.name' | translate }}</div>
        <div class="col-md-10 px-0 text-left text-truncate">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" onfocus="this.placeholder = ''" placeholder="{{ 'REPRESENTATIVES_LIST.name_placeholder' | translate }}"  [(ngModel)]="newRepName" (keyup.enter)="saveNewRepresentative()">
            </div>
          </div>
        </div>
      </div>
      <div class="row rowContent autoHP py-3">
        <div class="col-md-2 px-0 text-truncate dataName">{{ 'REPRESENTATIVES_LIST.representative_flags' | translate }}</div>
        <div class="col-md-10 px-0 text-left text-truncate">
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="trusted_check" [(ngModel)]="newRepTrusted">
              <label class="form-check-label" for="trusted_check" tooltip="{{ 'REPRESENTATIVES_LIST.trusted_check_tooltip' | translate }}" container="body">
                {{ 'REPRESENTATIVES_LIST.trusted_check' | translate }}
              </label>
            </div>
          </div>
          <div class="col-12 pt-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="avoid_check" [(ngModel)]="newRepWarn">
              <label class="form-check-label" for="avoid_check" tooltip="{{ 'REPRESENTATIVES_LIST.avoid_check_tooltip' | translate }}" container="body">
                {{ 'REPRESENTATIVES_LIST.avoid_check' | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center align-items-center rowDefault">
        <div class="col-md-2 px-0 text-truncate dataName"></div>
        <div class="col-lg-2 col-md-4 col-sm-6 col-12 px-0 pr-md-2 text-center text-truncate mobile-break">
          <button type="submit" class="btn btn-danger" (click)="cancelNewRep()">{{ 'CANCEL' | translate }}</button>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-0 pl-md-2 text-left text-truncate">
          <button type="submit" class="btn btn-primary" (click)="saveNewRepresentative()">{{ 'REPRESENTATIVES_LIST.save_new_representative' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

