.icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	margin: 0 10px 0 10px;
	vertical-align: middle;
}
.tokenIcon {
	height: 16px;
	width: 16px;
	display: inline-block;
	margin: -4px 10px 0 0;
	vertical-align: middle;
	border-radius: 10px;
	background-color: #000;
}
.qn1 {
	background-image: url('~assets/img/qlc-token-qn1.svg');
}
.qn2 {
	background-image: url('~assets/img/qlc-token-qn2.svg');
}
.qn3 {
	background-image: url('~assets/img/qlc-token-qn3.svg');
}
.qn4 {
	background-image: url('~assets/img/qlc-token-qn4.svg');
}
.qn5 {
	background-image: url('~assets/img/qlc-token-qn5.svg');
}
.qn6 {
	background-image: url('~assets/img/qlc-token-qn6.svg');
}
.icon.drag {
	background-image: url('~assets/img/qlc-icon-drag-purple.svg');
}
.icon.delete {
	background-image: url('~assets/img/qlc-icon-delete-red.svg');
}
.icon.copy {
	background-image: url('~assets/img/qlc-icon-clipboard-purple.svg');
	margin-left: 0;
}
.icon.copy.light {
	background-image: url('~assets/img/qlc-icon-clipboard-purplelight.svg');
	margin-left: 0;
}
.icon.edit {
	background-image: url('~assets/img/qlc-icon-pencil-purple.svg');
}
.icon.send {
	background-image: url('~assets/img/qlc-icon-send-purple.svg');
	margin-right: 0;
}
.icon.receive {
	background-image: url('~assets/img/qlc-icon-receive-purple.svg');
	margin-right: 0;
}
.icon.online {
	background-image: url('~assets/img/qlc-icon-status-online.svg');
	margin-right: 5px;
	margin-left: 0;
}
.icon.offline {
	background-image: url('~assets/img/qlc-icon-status-offline.svg');
	margin-right: 5px;
	margin-left: 0;
}
.icon.trusted {
	background-image: url('~assets/img/qlc-icon-status-trusted.svg');
	margin-right: 5px;
	margin-left: 0;
}
.icon.avoid {
	background-image: url('~assets/img/qlc-icon-status-avoid.svg');
	margin-right: 5px;
	margin-left: 0;
}
.icon-text-link {
	@include latoBold;
	color: $default;
	text-transform: uppercase;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
}
.icon-text-link:hover {
	color: $light;
}