html,
body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
}
body {
	overflow-y: scroll;
}
a {
	cursor: pointer;
}
.content {
	padding-top: 40px;
	padding-bottom: 40px;
}
app-root {
	background: #edeef4;
	display: block;
}

.main {
	padding-top: 170px;
	@media (max-width: 991px) {
		padding-top: 100px;
	}
}
.alert.alert-success {
	background-color: $greenLight;
	color: white;
}
.alert.alert-info {
	background-color: $light;
	color: white;
}
.alert.alert-error {
	background-color: $redLight;
	color: white;
}
.modal-footer {
	button.btn {
		margin-top: 0;
	}
}
.modal-body {
	p {
		margin-bottom: 0;
	}
}
code {
	display: block;
	width: 100%;
}

pre {
	color: $text;
	font-family: Courier, monospace;
	font-size: 13px;
	margin: 0;
	overflow: hidden;
}

button {
	padding: 10px;
	background: red;
	border: 1px solid rgba(#000, 0.1);
	border-width: 1px 1px 3px;
	border-radius: 3px;
	font: inherit;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 1px 0 rgba(#000, 0.3), 0 1px 1px rgba(#000, 0.2);
}

body {
	background: $background;
}

a,
a:hover {
	@include latoBold;
	text-decoration: none;
	color: $default;
}
a:hover {
	color: $light;
}
select {
	border-radius: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 2.4rem 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: #fff url('../assets/img/qlc-icon-dropdown.svg') no-repeat right 0.75rem center;
	background-size: 16px 16px;
	border: 1px solid $textLight;
	border-radius: 0;
	appearance: none;
}
.custom-select:focus {
	border-color: $textLight;
	outline: 0;
	box-shadow: 0 0 0 2px rgba(108, 69, 190, 0.2);
}

.custom-select.contacts {
	background: #fff url('../assets/img/qlc-icon-addressbook-grey.svg') no-repeat right 0.75rem center;
	background-size: 16px 16px;
}
.form-group {
	margin-bottom: 0;
}
input.form-control {
	font-size: 13px;
	border: 1px solid $textLight;
	border-radius: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
input.form-control:focus {
	box-shadow: none;
	border: 1px solid $superLight;
}

.tooltip.show {
	opacity: 1;
}
.tooltip-inner {
	@include lato;
	max-width: 200px;
	padding: 3px 10px;
	color: #fff;
	font-size: 11px;
	text-align: center;
	background-color: $default;
	border-radius: 0;
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^='top'] .arrow::before {
	border-top-color: $default;
}
h1 {
	@include latoLight;
	font-size: $fontSizeTitle;
	color: $default;
}

p {
	@include lato;
	font-size: $fontSize;
	color: $text;
}

button.btn {
	@include latoBold;
	border-radius: 0;
	background-color: $default;
	border: none;
	font-size: 12px;
	line-height: 12px;
	padding-top: 15px;
	padding-bottom: 13px;
	letter-spacing: 0.2px;
	margin-top: 15px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	text-shadow: none;

	@media (max-width: 1200px) and (min-width: 992px) {
	}
	@media (max-width: 320px) {
		font-size: 10px;
	}
}
button.btn.btn-secondary {
	background-color: $green;
}
button.btn.btn-secondary:hover {
	background-color: $greenLight;
}
button.btn.btn-secondary:focus {
	box-shadow: none;
}
button.btn.btn-danger {
	background-color: $red;
}
button.btn.btn-danger:focus {
	box-shadow: none;
}
button.btn.btn-danger:hover {
	background-color: $redLight;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus,
button.btn.btn-primary:hover,
button.btn.btn-primary:focus,
button.btn.btn-primary:active,
button.btn.btn-primary:active:focus {
	background-color: $light;
	box-shadow: none;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	background-color: $greenLight;
	box-shadow: none;
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.show > .btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.show > .btn-danger.dropdown-toggle:focus {
	background-color: $redLight;
	box-shadow: none;
}
