$default: #452d78;
$darkest: #2a1b4a;
$light: #6c45be;
$superLight: #a887ef;

$text: #595757;
$textLight: #a8a6ae;

$red: #c10f0f;
$redLight: #d41414;
$green: #56af08;
$greenLight: #67bf0a;

$background: #edeef4;

$accountHeaderBg: #f9f9fb;

$fontSize: 14px;
$fontSizeMed: 12px;
$fontSizeMin: 10px;
$fontSizeTitle: 24px;

@mixin lato() {
    font-family: 'Lato';
}
@mixin latoItalic() {
    font-family: 'LatoItalic';
}

@mixin latoBold() {
    font-family: 'LatoBold';
}
@mixin latoLight() {
    font-family: 'LatoLight';
}