@import "~scss/mixins";
.addressbook {
	button.btn.content-header {
		width: auto;
		position: absolute;
		right: 0;
		bottom: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	.rowContent {
		.icon {
			
			@media(min-width: 992px) {
				display: none;
			}
		}
	}
	.rowContent:hover {
		.icon {
			display: inline-block;
		}	
		a.address {
			color: $default;
			text-decoration: underline;
		}
	}
	a.address {
		@include lato;
		color: $text;
    }
    .name:hover {
        cursor: pointer;
    }
}